In [71]:
import pandas as pd
# Austin Animal Center Shelter Intakes and Outcomes 2013-2018
aac_in = pd.read_csv('./data/aac_intakes.csv')
aac_out = pd.read_csv('./data/aac_outcomes.csv')

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Found Pets - Meets 1/1</small>
### Is there an area where more pets are found?


I filtered the `aac_in` **DataFrame** to only include rows where the `found_location` column contains the substring `' in '`. The resulting filtered **DataFrame** is then used to calculate the count of each unique value in the `found_location` column. I then returned the top five values.

In [72]:
aac_in[aac_in['found_location'].str.contains(' in ')].value_counts('found_location').head()

found_location
7201 Levander Loop in Austin (TX)     517
4434 Frontier Trl in Austin (TX)      163
124 W Anderson Ln in Austin (TX)      153
12034 Research Blvd in Austin (TX)     98
1156 W Cesar Chavez in Austin (TX)     98
Name: count, dtype: int64

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Found Pets - Exceeds 1/2</small>
### How many animals in the shelter are repeats?

Using the `animal_id` column, I counted the number of animals that appear more than once in the `aac_in` **DataFrame** and assigned the results of that Boolean **Series**, to the `repeat_animals` variable. Then, I calculated the total sum of the `repeat_animals` **Series**.<br><br>

In [73]:
repeat_animals = aac_in.animal_id.value_counts() > 1
repeat_animals.sum()

6154

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Found Pets - Exceeds 2/2</small>
### Which animal was returned to the shelter the most?

I used the `repeat_animals` Boolean **Series** generated in the previous code block to identify the animal ID that appears most frequently in the `aac_in` **DataFrame**. I then used the `.index[0]` method to retrieve the animal ID as a string, and assigned it to the `most_repeat_animals` variable. The `most_repeat_animals` animal ID string is then used to filter the `aac_in` **DataFrame**. The resulting filtered **DataFrame** is then subsetted to only include the animal_id, name, and breed columns and the first row, for better data presentation.

In [74]:
most_repeat_animal = repeat_animals.head(1).index[0]
aac_in[aac_in['animal_id'] == most_repeat_animal][['animal_id','name', 'breed']].set_index('animal_id').head(1)

              name            breed
animal_id
A721033    Lil Bit  Rat Terrier Mix

<style>
    img {
      margin: 0;
      max-width: 15%;
    }
</style>

![Lil Bit](img/lil_bit.png)

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Average Found Pets - Meets 1/2</small>
### What is the average number of pets found in a month in the year 2015?

First, I converted the `datetime` column in the `aac_in` **DataFrame** into a Pandas `datetime64` dtype. Then I created a new **DataFrame** named `pets_2015` that contains only the 2015 intake records copied from `aac_in`. Then, I added a new column `intake_month` to it that contains each month of the 2015 intakes, formatted to show the abbreviated month and the year. Next, I counted the amount of pets found in each month. Finally, I calculated the average number of pets found in a month in 2015 and rounded it to the nearest whole number.

In [75]:
aac_in['datetime'] = pd.to_datetime(aac_in['datetime'])
pets_2015 = aac_in[aac_in['datetime'].dt.year == 2015].copy()
pets_2015['intake_month'] = pets_2015['datetime'].dt.strftime('%b %Y')
pets_2015_monthly =  pets_2015['intake_month'].value_counts()
pets_2015_monthly_avg = pets_2015_monthly.mean()
round(pets_2015_monthly_avg)

1559

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Average Found Pets - Meets 2/2</small>
### Are there months where there is a higher number of animals found?

I filtered the `pets_2015_monthly` **Series** from the code block above to only include months where the count of intakes is greater than the average number of monthly intakes for 2015.

In [76]:
pets_2015_monthly[pets_2015_monthly > pets_2015_monthly_avg]

intake_month
Jun 2015    2189
May 2015    2094
Oct 2015    1740
Aug 2015    1718
Jul 2015    1635
Sep 2015    1591
Name: count, dtype: int64

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Ratio of Incoming vs. Outgoing - Meets 1/1</small>
### What is the ratio of incoming pets vs. adopted pets?

First, I calculated the sum of all unique animal IDs in the `aac_in` **DataFrame**. Then, I calculated the sum of all of the Adopted animals in the `outcome_type` column of the `aac_out` **DataFrame**. Finally, I divided the sum of the adopted animals by the sum of the incoming animals to get the ratio of adopted animals to incoming animals.

In [77]:
animal_intakes = aac_in.animal_id.value_counts().sum()
animals_adopted = aac_out[aac_out['outcome_type'] == 'Adoption'].value_counts('outcome_type').values[0]
round(animal_intakes / animals_adopted, 2)

2.34

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Animal Distribution - Meets 1/1</small>
### What is the distribution of the types of animals in the shelter?
I counted the total number of animals by type in the `animal_type` column of the `aac_in` **DataFrame**.

In [78]:
aac_in.animal_type.value_counts()

animal_type
Dog          45743
Cat          29659
Other         4434
Bird           342
Livestock        9
Name: count, dtype: int64

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Adoption Rates - Meets 1/2</small>
### What are the adoption rates for specific breeds?
First, I counted all of the dog breeds from the `aac_in` **DataFrame**. Next, I created a **Series** of the top 5 breeds. Next, I counted all of the dogs that were Adopted from the `aac_out` **DataFrame**. Then, I created a **Series** of the top 5 breeds that were adopted and calculated their rates. Finally, I created a new **DataFrame** containing the top 5 breeds and their adoption rates.

In [79]:
total_breed_counts_intake = aac_in[aac_in['animal_type'] == 'Dog']['breed'].value_counts()
top_5_total_counts_intake = total_breed_counts_intake.head(5)
dog_adoptions = aac_out[(aac_out['animal_type'] == 'Dog') & (aac_out['outcome_type'] == 'Adoption')]
breed_counts = dog_adoptions['breed'].value_counts()
top_5_breeds = breed_counts.loc[top_5_total_counts_intake.index]
adoption_rates_intake = round((top_5_breeds / top_5_total_counts_intake) * 100, 2)
top_5_full_adoption_details = pd.DataFrame({
    'intake': top_5_total_counts_intake,
    'adopted': top_5_breeds,
    'rate': adoption_rates_intake
}).sort_values(by='rate')

print(top_5_full_adoption_details)

                           intake  adopted   rate
breed
Pit Bull Mix                 6382     2382  37.32
Chihuahua Shorthair Mix      4860     2293  47.18
German Shepherd Mix          1963      937  47.73
Labrador Retriever Mix       4841     2404  49.66
Australian Cattle Dog Mix    1105      619  56.02

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Adoption Rates - Meets 2/2</small>
### What are the adoption rates for different colorings?
First, I counted all of the animal colors from the `aac_in` **DataFrame**. Next, I created a **Series** of the top 5 animal colors. Next, I counted all of the animals that were Adopted from the `aac_out` **DataFrame**. Then, I created a **Series** of the top 5 animal colors that were adopted and calculated their rates. Finally, I created a new **DataFrame** containing the top 5 animal colors and their adoption rates.

In [80]:
total_color_counts_intake = aac_in['color'].value_counts()
top_5_total_counts_color_intake = total_color_counts_intake.head(5)
color_adoptions = aac_out[aac_out['outcome_type'] == 'Adoption']['color'].value_counts()
top_5_color_adoptions = color_adoptions.loc[top_5_total_counts_color_intake.index]
adoption_rates_color_intake = round((top_5_color_adoptions / top_5_total_counts_color_intake) * 100, 2)
adoption_by_color_details = pd.DataFrame({
    'intake': top_5_total_counts_color_intake,
    'adopted': top_5_color_adoptions,
    'rate': adoption_rates_color_intake
}).sort_values(by='rate', ascending=False)

print(adoption_by_color_details)

             intake  adopted   rate
color
Black/White    8340     3814  45.73
Brown Tabby    4487     1914  42.66
Black          6710     2757  41.09
White          2849     1082  37.98
Brown          3618      803  22.19

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p, li {
      font-size: 14px;
    }
    li {
      list-style: none;
    }
</style>

<small>Adoption Rates - Exceeds 1/1</small>
### What are the adoption rates for the following age groups?
- **baby**: 4 months and less
- **young**: 5 months - 2 years
- **adult**: 3 years - 10 years
- **senior**: 11+ years
<br><br>
First, I created a copy of the `aac_out` **DataFrame**, so that I could expand additional columns without modifying the existing *DataFrame*. Next, I split the `age_upon_outcome` column into two columns: `age_value` and `age_unit`. Next, I converted the `age_value` column to be to numeric values and represented in number of months. I then created a new column called `age_group` that would categorize the animals into the four age groups mentioned above. Next, I filtered the `outcome_type` column for the Adoption value. I then grouped the data by `age_group` and calculated the percentage of animals that were adopted for each age group.

In [81]:
aac_out_snapshot = aac_out.copy()

aac_out_snapshot[['age_value', 'age_unit']] = aac_out_snapshot['age_upon_outcome'].str.split(' ', expand=True)
aac_out_snapshot['age_value'] = pd.to_numeric(aac_out_snapshot['age_value'])


def age_to_months(row):
    if row['age_unit'] in ['year', 'years']:
        return row['age_value'] * 12
    elif row['age_unit'] in ['month', 'months']:
        return row['age_value']
    elif row['age_unit'] in ['week', 'weeks']:
        return row['age_value'] / 4.34824
    elif row['age_unit'] in ['day', 'days']:
        return row['age_value'] / 30.44
    else:
        return None


aac_out_snapshot['age_in_months'] = aac_out_snapshot.apply(age_to_months, axis=1)
aac_out_snapshot = aac_out_snapshot.dropna(subset=['age_in_months'])


def categorize_age_group(row):
    if row['age_in_months'] <= 4:
        return 'baby'
    elif 5 <= row['age_in_months'] <= 24:
        return 'young'
    elif 25 <= row['age_in_months'] <= 120:
        return 'adult'
    elif row['age_in_months'] >= 121:
        return 'senior'
    else:
        return None
    

aac_out_snapshot['age_group'] = aac_out_snapshot.apply(categorize_age_group, axis=1)
adoptions = aac_out_snapshot[aac_out_snapshot['outcome_type'] == 'Adoption']
adoption_rates = adoptions['age_group'].value_counts() / aac_out_snapshot['age_group'].value_counts()
adoption_rates = adoption_rates * 100
adoption_rates = adoption_rates.sort_values(ascending=False)
round(adoption_rates, 2)

age_group
baby      51.41
young     41.94
adult     33.67
senior    21.23
Name: count, dtype: float64

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Spay/Neuter  - Meets 1/1</small>
### About how many animals are spayed/neutered each month?
First, I converted the `datetime` column in the `aac_in` **DataFrame** into a Pandas `datetime64` dtype. Then, I filled the empty values in the `sex_upon_intake` column of the `aac_in` **DataFrame** with the string "Unknown". Next I filtered the `sex_upon_intake` column for results that contained the text "Intact". Finally, I grouped the results by month and counted the number of rows in each group to get the number of animals that were spayed/neutered each month and averaged the results for the entire dataset.

In [82]:
aac_in['datetime'] = pd.to_datetime(aac_in['datetime'])
aac_in['sex_upon_intake'] = aac_in['sex_upon_intake'].fillna("Unknown")
intact_data = aac_in[aac_in['sex_upon_intake'].str.contains('Intact')]
monthly_intact = intact_data.groupby(aac_in['datetime'].dt.to_period("M")).size()
round(monthly_intact.mean())

914

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Spay/Neuter  - Exceeds 1/1</small>
### If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50, how much did the shelter spend in 2015 on these procedures?
First, I filtered out all of results for the year 2015 in the `aac_in` **DataFrame**, where the `sex_upon_intake` column contained the text "Intact". Next, I filtered the `animal_type` column if it contained the text `Dog` or `Cat`. Then, I created a new **DataFrame**: `spayed_neutered_2015` with a column called `cost` that contained the cost of the procedure for each row. Finally, I summed the `cost` column to get the total cost of the procedures for 2015 and added a `total` column.

In [83]:
intact_2015 = aac_in[(aac_in['datetime'].dt.year == 2015) & (aac_in['sex_upon_intake'].str.contains('Intact'))]
intact_dog_count_2015 = intact_2015[intact_2015['animal_type'] == 'Dog'].shape[0]
intact_cat_count_2015 = intact_2015[intact_2015['animal_type'] == 'Cat'].shape[0]

spayed_neutered_2015 = pd.DataFrame({
    'species': ['Dog', 'Cat'],
    'cost': [intact_dog_count_2015 * 100, intact_cat_count_2015 * 50]
})

spayed_neutered_2015['total'] = ['', spayed_neutered_2015['cost'].sum()]

print(spayed_neutered_2015)

  species    cost   total
0     Dog  610000
1     Cat  253250  863250