In [178]:
import pandas as pd
# Austin Animal Center Shelter Intakes and Outcomes 2013-2018
aac_in_out = pd.read_csv('./data/aac_intakes_outcomes.csv')
aac_in = pd.read_csv('./data/aac_intakes.csv')
aac_out = pd.read_csv('./data/aac_outcomes.csv')

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Found Pets - Meets 1/1</small>
### Is there an area where more pets are found?


I counted the number of occurrences of each unique value in the `found_location` column of a Pandas **DataFrame** `aac_in`. The `.value_counts()` method is called on the `found_location` column to generate a **Series** that contains the count of each unique value in the column. The `.head()` method is then called on the resulting **Series** to return the first five rows of the **Series**, which correspond to the five most frequently occurring values in the `found_location` column.

In [179]:
aac_in['found_location'].value_counts().head()

found_location
Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
Name: count, dtype: int64

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Found Pets - Exceeds 1/2</small>
### How many animals in the shelter are repeats?

I counted the number of animals that appear more than once in a Pandas **DataFrame** called `aac_in`. The `.value_counts()` method is called on the `animal_id` column of the **DataFrame** to generate a **Series** that contains the count of each unique value in the column. The resulting **Series** is then compared to the integer value 1 using the greater than operator `>`. This comparison generates a **Boolean Series** that contains True values for each animal ID that appears more than once in the **DataFrame**, and False values for each animal ID that appear only once.<br><br>

The resulting **Boolean Series** is then assigned to the variable `repeat_animals`. The `.sum()` method is then called on this **Boolean Series** to count the number of True values in the Series.

In [180]:
repeat_animals = aac_in.animal_id.value_counts() > 1
repeat_animals.sum()

6154

<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    small {
      font-size: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
    }
</style>

<small>Found Pets - Exceeds 2/2</small>
### Which animal was returned to the shelter the most?

The `repeat_animals` **Boolean Series** generated in the previous code block identifies the animal ID that appears most frequently in the **DataFrame**. The `.head(1)` method is called on the `repeat_animals` **Series** to return the first row of the Series, which corresponds to the animal ID that appears most frequently in the DataFrame. The `.index[0]` method is called on this row to retrieve the animal ID as a string.<br><br>

The resulting animal ID string is then used to filter the **DataFrame** using boolean indexing. Next, I selected only the rows of the **DataFrame** where the `animal_id` column matches `most_repeat_animal`. The resulting filtered **DataFrame** is then subsetted to only include the `animal_id`, `name`, and `breed` columns using double square brackets. The `.set_index('animal_id')` method is then called on this **subsetted DataFrame** to set the `animal_id` column as the index of the **DataFrame**. Finally, the `.head(1)` method is called on this **DataFrame** to return the first row of the **subsetted DataFrame**.

In [181]:
most_repeat_animal = repeat_animals.head(1).index[0]
aac_in[aac_in['animal_id'] == most_repeat_animal][['animal_id','name', 'breed']].set_index('animal_id').head(1)

              name            breed
animal_id
A721033    Lil Bit  Rat Terrier Mix